@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

//// Mixins

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

//// Colors

:root {
  --clr-background: hsl(236, 33%, 92%);
  --clr-todo-background: hsl(0, 0%, 98%);
  --clr-text: hsl(235, 19%, 35%);
  --background-mobile: url("./components/images/bg-mobile-light.jpg");
  --background-desktop: url("./components/images/bg-desktop-light.jpg");
}

.dark-theme {
  --clr-background: hsl(235, 21%, 11%);
  --clr-todo-background: hsl(235, 24%, 19%);
  --clr-text: hsl(236, 33%, 92%);
  --background-mobile: url("./components/images/bg-mobile-dark.jpg");
  --background-desktop: url("./components/images/bg-desktop-dark.jpg");
}

.light-theme {
  --clr-background: hsl(236, 33%, 92%);
  --clr-todo-background: hsl(0, 0%, 98%);
  --clr-text: hsl(235, 19%, 35%);
  --background-mobile: url("./components/images/bg-mobile-light.jpg");
  --background-desktop: url("./components/images/bg-desktop-light.jpg");
}

// Primary
$bright-blue: hsl(220, 98%, 61%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);

// Variable

$border-radius-standard: 5px;

//// Extends

%circle-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid $light-grayish-blue;
}

%todo-row {
  align-items: center;
  column-gap: 15px;
  min-height: 4.2rem;
  padding: 20px 25px;
  background-color: var(--clr-todo-background);
}

//// General

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 1.125rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--clr-background);
}

//// Header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 30px 0;
  margin: 0 5%;
  color: hsl(0, 0%, 98%);
  @include tablet {
    margin: 0 20%;
  }
}

// Header Background

.header__background {
  position: absolute;
  width: 100%;
  height: 245px;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--background-mobile);
  background-position: center;
  background-size: cover;
  @include tablet {
    background: var(--background-desktop);
  }
}

// Header Title

.header__title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 10px;
}

// Header Light/Dark Theme Toggle

.header__toggle-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 0;
}

.header__toggle-name {
  font-size: 12px;
}

.header__toggle-image-wrapper {
  position: relative;
  height: 26px;
  width: 26px;
}

.header__toggle-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.header__toggle-image--deactive {
  opacity: 0;
  transition: opacity 0.5s ease;
}

//// Main

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  width: 90%;
  row-gap: 20px;
  font-weight: 700;
  @include desktop {
    width: 60%;
  }
}

.todo-container {
  border-radius: $border-radius-standard;
  overflow: hidden;
}

// Create Todo

.create-todo {
  display: grid;
  grid-template-columns: 1.5rem auto;
  @extend %todo-row;
  border-radius: $border-radius-standard;
}

.create-todo__icon {
  @extend %circle-icon;
}

.create-todo__icon--active {
  transition: background-color 0.5s ease;
  background-color: green;
}

.create-todo__input {
  width: 100%;
  padding: 4px 0;
  color: var(--clr-text);
}

// Todo

.todo {
  display: grid;
  grid-template-columns: 1.5rem auto 1.5rem;
  color: var(--clr-text);
  border-bottom: 1px solid $dark-grayish-blue;
  @extend %todo-row;
  @include desktop {
    column-gap: 25px;
  }
}

.todo__icon {
  @extend %circle-icon;
  transition: background-color 0.5s ease;
}

.todo__icon--completed {
  background-color: $dark-grayish-blue;
}

.todo__text--completed {
  text-decoration: line-through;
  color: $dark-grayish-blue;
}

.todo__delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Todo Helper

.todo-helper {
  display: flex;
  justify-content: space-between;
  color: $dark-grayish-blue;
  font-size: 1rem;
  @extend %todo-row;
}

.todo-helper__items-left {
  font-weight: 400;
}

.todo-helper__clear-button:hover {
  color: var(--clr-text);
}

// Show Todo

.show-todo {
  display: flex;
  justify-content: center;
  border-radius: $border-radius-standard;
  color: $dark-grayish-blue;
  @extend %todo-row;
  @include desktop {
    padding: 0;
    min-height: auto;
  }
}

.show-todo__button:hover {
  color: var(--clr-text);
}

// Bottom Info

.bottom-info {
  color: $dark-grayish-blue;
  text-align: center;
}